<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="filial">
      <h2 data-cy="filialDetailsHeading"><span>Filial</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ filial.id }}</span>
        </dd>
        <dt><span>Cnpj</span></dt>
        <dd>
          <span>{{ filial.cnpj }}</span>
        </dd>
        <dt><span>Razao Social</span></dt>
        <dd>
          <span>{{ filial.razaoSocial }}</span>
        </dd>
        <dt><span>Nome Fantasia</span></dt>
        <dd>
          <span>{{ filial.nomeFantasia }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/filial', filial.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
