<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fatura">
      <h2 data-cy="faturaDetailsHeading"><span>Fatura</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fatura.id }}</span>
        </dd>
        <dt><span>Numero Fatura</span></dt>
        <dd>
          <span>{{ fatura.numeroFatura }}</span>
        </dd>
        <dt><span>Data Vencimento</span></dt>
        <dd>
          <span>{{ fatura.dataVencimento | formatMediumDate }}</span>
        </dd>
        <dt><span>Valor Faturado</span></dt>
        <dd>
          <span>{{ fatura.valorFaturado }}</span>
        </dd>
        <dt><span>Valor Aberto</span></dt>
        <dd>
          <span>{{ fatura.valorAberto }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ fatura.status }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ fatura.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ fatura.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ fatura.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ fatura.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Cliente</span></dt>
        <dd>
          <div *ngIf="fatura.cliente">
            <a [routerLink]="['/cliente', fatura.cliente?.id, 'view']">{{ fatura.cliente?.cnpj }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fatura', fatura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
